
/*-------------------*/
/*     TITLE BAR     */
/*-------------------*/

.v-card {
    background-color: transparent!important;
    border-radius: 1px!important;
}

.titleBarLogo {
    height: 88px;
    position: relative;
    top: 14px;
}

.titleBarButtonSelected {
    border-bottom-style: solid ;
    border-color: #cf491b;
}

#footerDescription {
    color: black; text-align: start; padding-left: 2em; padding-right: 2em; width: 100%;
}

#footerAbesLinks {
    width: 100%;
    text-align: start;
    padding-left: 2em;
    flex: 1;
}

.footerTopRow {
    align-items: center;
    background-color: #e6e6e6;
    color: white;
    font-size: 1em;
    width: 100%;
}

.footerBottomRow {
    align-items: center;
    background-color: black;
    color: white;
    font-size: small;
    text-align: start;
    padding-left: 2em;
    padding-right: 2em
}

.fontPrimaryColor {
    color: #252C61;
}

.fontSecondaryColor {
    color: #cf491b;
}

.bgColorPrimary {
    background-color: #252C61;
}

.bgColorSecondary {
    background-color: #cf491b;
}

#bgColorGrey table thead tr th {
    background-color: #e6e6e6;
}

#bgColorIdColumnRulesTable table tr td:nth-child(1) {
    color: #A3A3A3;
    font-weight: 400;
    font-size: 0.8em;
    font-style: italic;
}

#linkWhite {
    color: white;
    text-decoration: none;
}

#linkBlue {
    color: #252C61;
}

.borderAddPpn {
    border-style: solid!important;
    border-color: #252c61!important;
    border-top-width:4px!important;
    border-right-width:1px!important;
    border-bottom-width:0!important;
    border-left-width:1px!important;
}

.borderAddPpnBottom {
    border-style: solid!important;
    border-color: #252c61!important;
    border-top-width:0!important;
    border-right-width:1px!important;
    border-bottom-width:1px!important;
    border-left-width:1px!important;
}

.borderSelectAnalyseType {
    border-style: solid!important;
    border-color: #252c61!important;
    border-top-width:4px!important;
    border-right-width:0!important;
    border-bottom-width:0!important;
    border-left-width:0!important;
}

.borderBlocElements {
    border-style: solid!important;
    border-color: #252c61!important;
    border-top-width:4px!important;
    border-right-width:1px!important;
    border-bottom-width:1px!important;
    border-left-width:1px!important;
    border-radius: 1px!important;
}

.borderPicturePpnErrorDetail {
    border: solid 1px lightgray;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    max-width: 65px;
    max-height: 75px
}

.detailErrorPpnSubtitle {
    font-size: 1em;
    padding-left: 76px;
    min-height: 38px;
}

.rappelTypeAnalyse {
    font-size: 1em;
    padding-left: 20px;
    min-height: 38px;
}